<!-- FOOTER START -->
<footer class="footer-main">
    {% include 'usp.html' %}
    <nav class="footer-navi">
        <div class="container ">
            <div class="row ">
                <div class="col col-md-4 lp">
                    <ul class="footer-link-list-lp">
                        <li><a href="#">Homepage</a></li>
                        <li><a href="#">Über uns</a></li>
                        <li><a href="#">Einlagensicherung</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Impressum</a></li>
                    </ul>
                </div>
                
                <div class="col col-md-12">                
                    <!-- FOOTER SLIDER START --> 
                    {% include 'caroucel-lp.html' %}
                    <!-- FOOTER SLIDER END --> 
                </div>
            </div>
        </div>

    </nav>

    <nav class="footer-boerse">
        <div class="container">
            <div class="row"> 
                <div class="col col-md-16">  
                    <ul>
                        <li><a href="">Börse</a></li>
                        <li><a href="">Dax</a></li>
                        <li><a href="">Dow Jones</a></li>
                        <li><a href="">Nikkei</a></li>
                        <li><a href="">Dollarkurs</a></li>
                        <li><a href="">Goldpreis</a></li>
                        <li><a href="">Ölpreis</a></li>
                        <li><a href="">Aktien</a></li>
                        <li><a href="">Fonds</a></li>
                        <li><a href="">Zertifikate</a></li>
                        <li><a href="">Optionsscheine</a></li>
                        <li><a href="">Währungsrechner</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row"> 
            <div class="col col-md-16 footer-onside">  
                <p>OnVista Group  Kurse 15 Min. verzögert - Quellen: SIX Telekurs, Interactive Data, Morningstar™</p>
                <p>© OnVista Bank GmbH - Postfach 10 08 60 - 60008 Frankfurt am Main - BLZ 514 108 00 - Telefon: (0)69-7107-0 | Telefax: +49 (0)69-7107-100</p>
            </div>
        </div>
    </div>          

</footer>

<!-- FOOTER END -->

<script src="libraries/jquery-2.1.1.min.js"></script>
<script>window.jQuery || document.write('<script src="libraries/jquery-2.1.1.min.js"><\/script>')</script>
<script src="libraries/bootstrap.min.js"></script>
<script src="libraries/jquery-ui.min.js"></script>
<script src="libraries/selectBoxIt-3.8.1.min.js"></script>
<script src="libraries/jquery.mousewheel.min.js"></script>
<script src="libraries/jquery.mCustomScrollbar.min.js"></script>
<script src="libraries/jquery.mobile.custom.min.js"></script>  

<script src="libraries/fastclick.js"></script>  
<script src="js/main.js"></script>
    <!--[if gt IE 9]>
      <script>
        var attachFastClick = require('fastclick');
        attachFastClick(document.body);
      </script>
    <![endif]-->
</body>
</html>