<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>OnVista</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> 
    <meta name="format-detection" content="telephone=no">
    <!-- webfonts-->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/styles_typo3.css">
</head>
<body>
<!-- HEADER START -->
<header class="header-public">
    <!-- TOP NAVBAR START-->
    <div class="navbar navbar-default navbar-static-top navbar-nav" role="navigation">
        <div class="container top-navigation">
            <div class="row">
                <div class="col col-md-4">
                {% include 'onvista-sites.html' %}
                </div>
                <div class="col col-md-4">
                    <!--start meta navigation -->
                    <ul class="meta-navigation">
                        <li><a href="#">Kontakt</a></li>
                        <li><a href="#">Über uns</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                    <!--end meta navigation -->
                </div>

                <div class="col col-md-8">
                    <!--## insert login or logout dropdown ##-->

                    <!-- DROPDOWN LOGOUT START 
                    <div class="dropdown logout-wrapper dropdown-white">
                        <a href="#" class="fa fa-refresh"></a>
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle margin">Logout in 29:59 min <span class="fa fa-angle-down"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Ihre persönlichen Daten</a></li>
                            <li><a href="#">Abmelden</a></li>
                        </ul>
                    </div>

                     DROPDOWN LOGOUT END-->

                    <!-- DROPDOWN LOGIN START-->
                    <div class="dropdown login-wrapper dropdown-white--login">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Kundenlogin<span
                            class="fa fa-angle-down"></span></a>

                        <div class="dropdown-menu login-wrapper" data-toggle="stay-open">

                            <!-- OPTIONAL INFO ALERT START  -->
                            <div class="alert alert-info">
                                <p><strong>Hinweis:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                                    do eiusmod tempor incididunt
                                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                    ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            </div>
                            <!-- OPTIONAL INFO ALERT END  -->

                            <div class="row">
                                {% include 'carousel-kundenlogin.html' %}

                                <div class="col col-md-8">

                                    <!-- LOGIN FORM START-->
                                    <div class="login-form">
                                        <h2>Kundenlogin</h2>

                                        <form role="form">

                                            <div class="form-group">
                                                <input type="text" value="" class="form-control"
                                                       placeholder="Ihr persönlicher Username"/>
                                            </div>
                                            <div class="form-group">
                                                <input type="password" value="" class="form-control"
                                                       placeholder="Ihr Passwort"/>
                                            </div>

                                            <!-- forgot password -->
                                            <ul class="link-list">
                                                <li><a href="#">Zugangsdaten vergessen?</a></li>
                                            </ul>

                                            <!-- login questions-->
                                            <ul class="link-list pull-right">
                                                <li><a href="#">Fragen zum Login?</a></li>
                                            </ul>

                                            <!-- CONTAINER FOR VIRTUAL KEYBOARD START -->
                                            <div class="container-virtual-keyboard js-hide">

                                                <!-- INFO ALERT FOR VIRTUAL KEYBOARD START-->
                                                <div class="alert alert-info" data-info="virtual">
                                                    <p>Zu Ihrer Sicherheit empfehlen wir die Verwendung der Virtuellen
                                                        Tastatur beim Login.
                                                        Damit wird eine Erfassung der Tastatureingaben durch Schadsoftware
                                                        deutlich erschwert. <br/>
                                                        <a href="#"><span class="fa fa-angle-right"></span>Weitere
                                                            Informationen</a></p>
                                                </div>
                                                <!-- INFO ALERT FOR VIRTUAL KEYBOARD END-->

                                                <!-- INSERT VIRTUAL KEYBOARD SCRIPT START -->
                                                <div class="virtual-keyboard">
                                                    [INSERT VIRTUAL KEYBOARD]
                                                </div>
                                                <!-- INSERT VIRTUAL KEYBOARD SCRIPT END -->

                                            </div>
                                            <!-- CONTAINER FOR VIRTUAL KEYBOARD END -->

                                            <ul class="link-list">
                                                <li><a href="#" class="js-toggle-keyboard">Sicherheitstastatur einblenden</a></li>
                                                <li  class="js-hide"><a href="#">Letzes Zeichen löschen</a></li>
                                            </ul>

                                            <ul class="link-list pull-right">
                                                <li><a href="#">Hilfe</a></li>
                                                <li><a href="#">Kunde werden</a></li>
                                            </ul>
                                            

                                            <!-- form submit -->
                                            <a href="#" class="btn btn-primary btn-submit">Jetzt anmelden</a>

                                        </form>

                                    </div>
                                    <!-- LOGIN FORM END-->
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- DROPDOWN LOGIN END-->

                    <!-- Hotline number -->
                    <span class="navbar-text text-right">Hotline: (069) 71 07 - 500 (9:00-18:00)</span>

                </div>
            </div>
        </div>
    </div>
    <!-- TOP NAVBAR END-->

    <!-- start middle navbar-->
    <div class="container middle-bar--public">
        <div class="row">
            <div class="col col-md-5">
                <!-- start logo -->
                <a href="#"><img src="images/logo_onvista_bank.png" width="206" height="67" alt="OnVista Bank"
                                 class="logo-onvista"/></a>
                <!-- end logo -->
            </div>
            <div class="col col-md-11 text-right">
                <img src="images/seal_testsieger.jpg" width="78" height="80" alt="testsieger" class="seal"/>
                <img src="images/seal_brokerwahl.jpg" width="63" height="80" alt="brokerwahl" class="seal"/>
            </div>
        </div>
    </div>
    <!-- end middle navbar-->
    <!-- start bottom navbar-->
    <nav class="navbar navbar-main navbar-static-top main-navigation navbar-nav" role="navigation">
        <div class="container ">
            <div class="row">
                <div class="col col-md-16">
                    <!-- MAIN NAVIGATION START -->
                    <div class="dropdown" id="Dropdown-1">
                        <a id="Label1" data-toggle="dropdown" href="#">Kunde werden<span class="fa fa-angle-down"></span></a>
                        <div class="dropdown-menu" data-toggle="stay-open">
                            <div class="row">
                                <!-- MAIN MENU COLUMN START -->
                                <div class="col col-md-3 col-main-navi">
                                    <ul >
                                        <li><a href="#">Übersicht</a>
                                            <ul>
                                                <li><a href="#">Depot-Berater</a></li>
                                                <li><a href="#">Warum OnVista Bank</a></li>
                                                <li><a href="#">Freunde werben</a></li>
                                                <li><a href="#">Top Konditionen</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <!-- MAIN MENU COLUMN STOP -->
                                <!-- MAIN MENU COLUMN START -->
                                <div class="col col-md-3 col-main-navi">
                                    <ul>
                                        <li><a href="#">Depot eröffnen</a>
                                            <ul>
                                                <li><a href="#">Freebuy Cash Depot</a></li>
                                                <li><a href="#">Festpreis Depot 5€</a></li>
                                                <li><a href="#">CFD Konto</a></li>
                                                <li><a href="#">Östereich & Schweiz</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <!-- MAIN MENU COLUMN STOP -->
                                <!-- MAIN MENU COLUMN START -->
                                <div class="col col-md-3 col-main-navi">
                                    <ul>
                                        <li><a href="#">Sicherheit</a>
                                            <ul>
                                                <li><a href="#">Transaktionssicherheit</a></li>
                                                <li><a href="#">Einlagensicherung</a></li>
                                                <li><a href="#">Trusteer</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <!-- MAIN MENU COLUMN STOP -->
                            </div>
                        </div>
                    </div>
                    <div class="dropdown" id="Dropdown-2">
                        <a id="Label2" data-toggle="dropdown" href="#">Aktionen<span class="fa fa-angle-down"></span></a>
                        <div class="dropdown-menu" data-toggle="stay-open">
                            <div class="row">
                                <!-- MAIN MENU COLUMN START -->
                                <div class="col col-md-3 col-main-navi">
                                    <ul >
                                        <li><a href="#">Übersicht</a>
                                            <ul>
                                                <li><a href="#">Depot-Berater2</a></li>
                                                <li><a href="#">Warum OnVista Bank</a></li>
                                                <li><a href="#">Freunde werben</a></li>
                                                <li><a href="#">Top Konditionen</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <!-- MAIN MENU COLUMN STOP -->
                                <!-- MAIN MENU COLUMN START -->
                                <div class="col col-md-3 col-main-navi">
                                    <ul>
                                        <li><a href="#">Depot eröffnen</a>
                                            <ul>
                                                <li><a href="#">Freebuy Cash Depot</a></li>
                                                <li><a href="#">Festpreis Depot 5€</a></li>
                                                <li><a href="#">CFD Konto</a></li>
                                                <li><a href="#">Östereich & Schweiz</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <!-- MAIN MENU COLUMN STOP -->
                                <!-- MAIN MENU COLUMN START -->
                                <div class="col col-md-3 col-main-navi">
                                    <ul>
                                        <li><a href="#">Sicherheit</a>
                                            <ul>
                                                <li><a href="#">Transaktionssicherheit</a></li>
                                                <li><a href="#">Einlagensicherung</a></li>
                                                <li><a href="#">Trusteer</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <!-- MAIN MENU COLUMN STOP -->
                                <!-- MAIN MENU COLUMN START -->
                                <div class="col col-md-3 col-main-navi">
                                    <ul>
                                        <li><a href="#">Sicherheit</a>
                                            <ul>
                                                <li><a href="#">Transaktionssicherheit</a></li>
                                                <li><a href="#">Einlagensicherung</a></li>
                                                <li><a href="#">Trusteer</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <!-- MAIN MENU COLUMN STOP -->
                                <!-- MAIN MENU COLUMN START -->
                                <div class="col col-md-3 col-main-navi">
                                    <ul>
                                        <li><a href="#">Sicherheit</a>
                                            <ul>
                                                <li><a href="#">Transaktionssicherheit</a></li>
                                                <li><a href="#">Einlagensicherung</a></li>
                                                <li><a href="#">Trusteer</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <!-- MAIN MENU COLUMN STOP -->
                                <!-- MAIN MENU COLUMN START -->
                                <div class="col col-md-3 col-main-navi">
                                    <ul>
                                        <li><a href="#">Sicherheit</a>
                                            <ul>
                                                <li><a href="#">Transaktionssicherheit</a></li>
                                                <li><a href="#">Einlagensicherung</a></li>
                                                <li><a href="#">Trusteer</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <!-- MAIN MENU COLUMN STOP -->
                            </div>
                        </div>
                    </div>
                    <div class="dropdown active" id="Dropdown-3">
                        <a  data-toggle="dropdown" href="#">Produkte & Handel<span class="fa fa-angle-down"></span></a>
                        <div class="dropdown-menu" data-toggle="stay-open">
                            <div class="row">
                                <!-- MAIN MENU COLUMN START -->
                                <div class="col col-md-3 col-main-navi">
                                    <ul >
                                        <li><a href="template_uebersichtsseite.html">Übersicht</a>
                                            <ul>
                                                <li><a href="#">Depot-Berater</a></li>
                                                <li><a href="#">Warum OnVista Bank</a></li>
                                                <li><a href="#">Freunde werben</a></li>
                                                <li><a href="#">Top Konditionen</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <!-- MAIN MENU COLUMN STOP -->
                                <!-- MAIN MENU COLUMN START -->
                                <div class="col col-md-3 col-main-navi">
                                    <ul>
                                        <li><a href="#">Depot eröffnen</a>
                                            <ul>
                                                <li><a href="#">Freebuy Cash Depot</a></li>
                                                <li><a href="#">Festpreis Depot 5€</a></li>
                                                <li><a href="#">CFD Konto</a></li>
                                                <li><a href="#">Östereich & Schweiz</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <!-- MAIN MENU COLUMN STOP -->
                                <!-- MAIN MENU COLUMN START -->

                                <div class="col col-md-3 col-main-navi">
                                    <ul>
                                        <li><a href="#">Sicherheit</a>
                                            <ul>
                                                <li><a href="#">Transaktionssicherheit</a></li>
                                                <li><a href="#">Einlagensicherung</a></li>
                                                <li><a href="#">Trusteer</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <!-- MAIN MENU COLUMN STOP -->
                                {% include 'carousel-main-menu.html' %}
                            </div>
                        </div>

                    </div>
                    <div class="dropdown" id="Dropdown-4">
                        <a data-toggle="dropdown" href="#">Sparpläne<span class="fa fa-angle-down"></span></a>
                         <div class="dropdown-menu" data-toggle="stay-open">
                            <div class="row">
                                <!-- MAIN MENU COLUMN START -->
                                <div class="col col-md-3 col-main-navi">
                                    <ul>
                                        <li>
                                        <a title="Alle Produkte" href="/produkte-handel/alle-produkte.html">Alle Produkte</a>
                                        <ul>
                                            <li><a title="Aktien" href="/produkte-handel/alle-produkte/aktien.html">Aktien</a>  </li>
                                            <li><a title="Optionsscheine / Zertifikate" href="/produkte-handel/alle-produkte/optionsscheine-zertifikate.html">Optionsscheine / Zertifikate</a>  </li>
                                            <li><a title="Futures &amp; Optionen" href="/produkte-handel/alle-produkte/futures-optionen.html">Futures &amp; Optionen</a>    </li>
                                            <li><a title="Fonds" href="/produkte-handel/alle-produkte/fonds.html">Fonds</a> </li>
                                            <li><a title="ETF" href="/produkte-handel/alle-produkte/etf.html">ETF</a>   </li>
                                            <li><a title="CFD" href="/produkte-handel/alle-produkte/cfd.html">CFD</a>   </li>
                                            <li><a title="SFD" href="/produkte-handel/alle-produkte/sfd.html">SFD</a>   </li>
                                            <li><a title="Sparpläne" href="/produkte-handel/alle-produkte/sparplaene.html">Sparpläne</a>    </li>
                                            <li><a title="Wertpapierkredit" href="/produkte-handel/alle-produkte/wertpapierkredit.html">Wertpapierkredit</a>    </li>
                                            <li><a title="Intraday-Kredit" href="/produkte-handel/alle-produkte/intraday-kredit.html">Intraday-Kredit</a>   </li>
                                        </ul>
                                        </li>
                                    </ul>
                                </div>
                                <!-- MAIN MENU COLUMN STOP -->
                                <!-- MAIN MENU COLUMN START -->
                                <div class="col col-md-3 col-main-navi">
                                    <ul>
                                        <li><a href="#">Depot eröffnen</a>
                                            <ul>
                                                <li><a href="#">Freebuy Cash Depot</a></li>
                                                <li><a href="#">Festpreis Depot 5€</a></li>
                                                <li><a href="#">CFD Konto</a></li>
                                                <li><a href="#">Östereich & Schweiz</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <!-- MAIN MENU COLUMN STOP -->
                                <!-- MAIN MENU COLUMN START -->

                                <div class="col col-md-3 col-main-navi">
                                    <ul>
                                        <li><a href="#">Sicherheit</a>
                                            <ul>
                                                <li><a href="#">Transaktionssicherheit</a></li>
                                                <li><a href="#">Einlagensicherung</a></li>
                                                <li><a href="#">Trusteer</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <!-- MAIN MENU COLUMN STOP -->
                                {% include 'carousel-main-menu2.html' %}
                            </div>
                        </div>                       
                    </div>
                    <div class="dropdown" id="Dropdown-5">
                        <a data-toggle="dropdown" href="#">Service<span class="fa fa-angle-down"></span></a>
                        {% include 'navi-service.html' %}
                    </div>
                    <!-- MAIN NAVIGATION STOP -->
        
                </div>
            </div>
        </div>
    </nav>
