                    
                    <!-- ONVISTA SITES START -->
                    <div class="dropdown dropdown-violet">
                        <a  data-toggle="dropdown" href="#">Weitere Onvista Seiten <span class="fa fa-angle-down"></span></a>

                        <div class="dropdown-menu" role="menu" aria-labelledby="dLabel" data-toggle="stay-open">
                            <div class="portal-switch">
                                <!-- start link list OnVista Bank-->
                                <ul class="portal-link-list">
                                    <li><a href="#">OnVista Finanzportal</a></li>
                                    <li><a href="#">Börse und Kurse</a></li>
                                    <li><a href="#">MyOnVista</a></li>
                                </ul>
                                <ul class="portal-link-list">
                                    <li><a href="#">OnVista Bank</a></li>
                                    <li><a href="#">Kunden werden</a></li>
                                    <li><a href="#">Aktionen</a></li>
                                    <li><a href="#">Produkte & Handel</a></li>
                                    <li><a href="#">Sparpläne</a></li>
                                    <li><a href="#">Service</a></li>
                                </ul>
                                <!-- start link list OnVista Finance portal-->

                                <!-- end link list OnVista Finance portal-->

                                <!-- start promotional area-->
                                <div class="promotional-area">
                                    {% include 'carousel-onvista-seiten.html' %}
                                </div>
                                <!-- end promotional area-->
                            </div>
                            {% include 'onvista-charts.html' %}
                        </div>
                    </div>
                    <!-- ONVISTA SITES SEND -->