<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
	<li class="active"><a href="#konditionen" role="tab" data-toggle="tab">Konditionen</a></li>
	<li><a href="#handelslimite" role="tab" data-toggle="tab">Handelslimite</a></li>
	<li><a href="#kontraktuebersicht" role="tab" data-toggle="tab">Kontraktübersicht</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
	<div class="tab-pane fade in active" id="konditionen">
		<h2 class="csc-firstHeader">Professioneller Handel mit Futures & Optionen an der EUREX</h2>
		<p class="bodytext"><b>Mit Futures und Optionen auf Aktien, Zinsen, Indizes oder ETFs setzen Sie auf eine bestimmte Kursentwicklung des Basiswerts innerhalb eines festgelegten Zeitraums. </b></p>
	    <!-- lists -->
	    <ul class="list-check">
	        <li>Über 10 Jahre Erfahrung im EUREX-Handel mit Privatkunden</li>
	        <li>Professionelle Handelssoftware GTS®</li>
	        <li>Handel mit Optionen/Futures und Wertpapieren über nur ein Konto und einen Zugang</li>
	    </ul>

		<p class="bodytext">Mit diesen Termingeschäften können Sie alle Marktszenarien abdecken und sowohl auf fallende oder steigende Kurse als auch auf stagnierende Kurse setzen.</p>
		<p class="bodytext">Die OnVista Bank bietet Ihnen ein attraktives kontraktbezogenes Preismodell für den gesamten EUREX-Handel an. So können Sie z.B. alle Euro-Aktienoptionen für nur Euro 1,50 pro Kontrakt (mind. Euro 12,50 pro Order) unabhängig von der Höhe der Optionsprämie handeln.</p>
		<p class="bodytext">Die OnVista Bank ist Ihr erfahrener Broker beim Handel an der Eurex. Unter dem Namen Fimatex waren wir der erste Online-Broker, der Privatanlegern den Handel an der Eurex bereits seit 1998 ermöglicht.</p>
		<h3>Wichtige Links und Tools</h3>

		<p class="arrow-link">
			<a href="#">Eurex Margin Calculator</a>
		</p>

		<p class="arrow-link">
			<a href="#">Eurex OptionMaster</a>
		</p>

		<p class="arrow-link">
			<a href="#">Infos zum Eurex OptionMaster</a>
		</p>


		<h3>Noch kein OnVista Bank Kunde?</h3>
		<p class="bodytext">Eröffnen Sie noch heute ein FreeBuy-Depot und profitieren Sie von attraktiven Neukunden-Konditionen</p>
		<a class="btn btn-primary btn-sm" target="_blank" href="#">Jetzt sicher Depot eröffnen</a>

	</div>
	<div class="tab-pane fade" id="handelslimite">
	{% include 'handelslimite .html' %}
	</div>
	<div class="tab-pane fade" id="kontraktuebersicht">
	{% include 'kontraktuebersicht.html' %}
	</div>
</div>