<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
	<li class="active"><a href="#uebersicht" role="tab" data-toggle="tab">Übersicht</a></li>
	<li><a href="#preisKonditionen" role="tab" data-toggle="tab">Preis & Konditionen</a></li>
	<li><a href="#freeBuy" role="tab" data-toggle="tab">FreeBuy Prinzip</a></li>
	<li><a href="#teilnahmebedingungen" role="tab" data-toggle="tab">Teilnahmebedingungen</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
	<div class="tab-pane fade in active" id="uebersicht">
		<div class="row">
            <!-- CONTENT 2 START -->
            <div class="col col-md-8">
				<h2 class="csc-firstHeader">Dauerhaft profitieren</h2>
				<p class="bodytext"><b>Mit Futures und Optionen auf Aktien, Zinsen, Indizes oder ETFs setzen Sie auf eine bestimmte Kursentwicklung des Basiswerts innerhalb eines festgelegten Zeitraums. </b></p>
			    <!-- lists -->
			    <ul class="list-check">
			        <li>ab 5,99 € pro Order - keine Depot- / Kontogebühren</li>
			        <li>Profitieren Sie von bis zu 30 Freikäufen im Monat.</li>
			        <li>keine Gebühren für Limitänderung oder -löschung</li>
			        <li>21 Emittenten im außerbörslichen Direkthandel</li>
			        <li>kostenfreie GTS®-Basis Handelssoftware</li>
			    </ul>
				<h2>Was bietet die OnVista Bank noch?</h2>
			    <ul class="list-bullets">
			        <li>Handel mit Aktien, Zertifikaten, Optionsscheinen, Fonds, ETFs, SFDs und Anleihen</li>
			        <li>Eurex-Handel mit Futures und Optionen</li>
			        <li>Im Fondshandel keine Berechnung von Ausgabeaufschlägen</li>
			        <li>Außerbörslicher Limithandel mit 21 Emittenten</li>
			    </ul>
				<a class="btn btn-primary btn-sm btn-content" target="_blank" href="#">Jetzt Depot eröffnen</a>
			</div>
			<div class="col col-md-8">

				<!--  Image block: [begin] -->
				<div class="csc-textpic csc-textpic-left csc-textpic-above">
					<div class="csc-textpic-imagewrap">
					  <div class="csc-textpic-image csc-textpic-last">
					    <table>
					      <tbody>
					        <tr>
					          <td>
					            <img alt="..." src="http://placehold.it/355x180">
					          </td>
					        </tr>
					      </tbody>
					    </table>
					  </div>
					</div>
				</div>
				<!--  Image block: [end] -->
				<h2>Handeln ab 5€</h2>
				<p class="bodytext">Mit dem FreeBuy-Depot können Sie Wertpapiere durch den Einsatz von sogenannten FreeBuys (Freikäufen) gratis kaufen.</p>
				<h2>Was kosten Käufe & Verkäufe?</h2>
				<p class="arrow-link">
					<a href="#">zu Preise & Konditionen</a>
				</p>
				<h2>Wie erhalte ich FreeBuys</h2>
				<p class="arrow-link">
					<a href="#">zum Freebuy-Prinzip</a>
				</p>
			</div>
		</div>
	</div>
	<div class="tab-pane fade" id="preisKonditionen">
	{% include 'preisKonditionen.html' %}
	</div>
	<div class="tab-pane fade" id="freeBuy">
	{% include 'freeBuy.html' %}
	</div>
	<div class="tab-pane fade" id="teilnahmebedingungen">
	{% include 'teilnahmebedingungen.html' %}
	</div>
</div>