.namingarea {
	position: absolute;
	top:49px;
	z-index: 2;
	left:38px;
	display: block;

	width: 336px;
	height: 60px;
	background: url(../../img/bms/bms_germany.svg) no-repeat 0px 0px;

	background-size: 100%;
    @include mybreakpoint(md) {
		left:19px;
		top: auto;
		bottom:16px;

    } 
    @include mybreakpoint(sm) {
		top: auto;
		bottom: 21px;
		left:0;
	 	width: 179px;
	 	height: 35px;
		background-size: 100%;
		background: url(../../img/bms/bms_germany_460.svg) no-repeat 0px 0px;
    }

    @include mybreakpoint(xs) {
	 	bottom: 19px;
    }
}
.logo {
	position: absolute;
	bottom: 14px;
	right: 11px;
	width: 169px;
	height: 74px;
	display: block;
	z-index: 2;
	background: url(../../img/bms/logo.svg) no-repeat 0 0;
    @include mybreakpoint(md) {
		bottom: 9px;
		right: 11px;
    } 
    @include mybreakpoint(sm) {
    	width: 50px;
    	height: 50px;
		right: 0px;
		bottom: 14px;
    	top: auto;	
		background-size: 100%;
		background: url(../../img/bms/logo_cross.svg) no-repeat 0 0;
    } 
}

.logo object,.logo img {
	visibility: hidden;
	width: 72px;
	height: 72px;
	display: none;
}
