.tooltip {
	position: absolute;
	z-index: 1020;
	display: block;
	visibility: visible;
	padding: 5px;
	font-size: 11px;
	line-height: 14px;
	opacity: 0;
	filter: alpha(opacity=0);
}

.tooltip.in {
	opacity: .86;
	filter: alpha(opacity=86);
}

.tooltip.top {
	margin-top: -2px;
}

.tooltip.right {
	margin-left: 2px;
}

.tooltip.bottom {
	margin-top: 2px;
}

.tooltip.left {
	margin-left: -2px;
}

.tooltip.top .tooltip-arrow {
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border-top: 5px solid #444;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
}

.tooltip.left .tooltip-arrow {
	top: 50%;
	right: 0;
	margin-top: -5px;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid #444;
}

.tooltip.bottom .tooltip-arrow {
	top: 0;
	left: 50%;
	margin-left: -5px;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #444;
	border-left: 5px solid transparent;
}

.tooltip.right .tooltip-arrow {
	top: 50%;
	left: 0;
	margin-top: -5px;
	border-top: 5px solid transparent;
	border-right: 5px solid #444;
	border-bottom: 5px solid transparent;
}

.tooltip-inner {
	padding: 3px 8px;
	max-width: 120px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #444;
	color: #fff;
	text-align: center;
	text-decoration: none;
}

.tooltip-arrow {
	position: absolute;
	width: 0;
	height: 0;
}