//////////////////////////////
// Fundamental Typo
//////////////////////////////

h2, .h2 {
	@include rem (font-size, 17px);
	@include rem (line-height, 22px);
	padding-bottom: 3px;
}
h1, .h1, h2, .h2, h3, .h3 {
	color: $gray1;
	font-style: normal;
	font-weight: normal;
}
a {
    color: $green1;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

.link a,
a.link,
.mlink a{
    @include rem (font-size, 12px);
    @include rem (line-height, 16px);
    color: $green1;
    display: block;
    font-weight: 400;
    padding: 0;
}
.link a:before,
a.link:before,
.mlink a:before{
    content: "\f0da";
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-right: 3px;
    text-decoration: none!important;

}
//Dreieck nur bei hover
.linkHover a,
a.linkHover{
    position: relative;
}
.linkHover a:hover:before,
a.linkHover:hover:before{
    position: absolute;
    left:8px;
    content: "\f0da";
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-right: 3px;
    text-decoration: none;

}
.more:after{
    content: "\f0da";
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 3px;
    text-decoration: none;
}